<h1>{{ title }}</h1>
<h4>Version: {{ version }}</h4>
<hr />
<app-tracker>app-tracker here</app-tracker>
<br>
<br>
<hr>
<p>To do:<br>
  - Sort by initiative<br>
  - Style the stat displays, and optionally replace labels with icons (shield, jumping?, muscle? and brain?)<br>
  - Mouse-over view for max HP, if I don't just make it hp/maxp<br>
  - Ability to deal damage/heal to a creature. Likely will be positive for damage, negative for heal. THough might make 2 buttons, if that makes more sense.<br>
  - Add Condition support. Ideally, they will be easy to add/remove and provide slight automation (sickened decreases stuff by 1, etc) but that's end-game stuff.<br>
  
  - Drag-and-drop between other combatants to change inititative<br>
  - Turn-order. Have it track both who's up and round count.<br>
  - Player View. Only show image and name, with optional Healthy/hurting/dying indicator.<br>
  - json export/import for both individuals and groups. <br>
  - a "PCs" preset that will load in the players<br>
  - Encounter management, where you can save encounters for later<br>
  - Import from AoN, for quick monster loading (low priority)<br>
  - <br>
  - <br>
  - <br>
  - <br>
  - <br>
  - <br>
  - <br>
  - <br>
  - <br>
  - <br>
  - <br>
  - <br>
  - <br>
</p>
